
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner"><span> <i class="fa fa-unlock-alt"> </i> Forgot your password? </span></h1>
        <div class="row userInfo">
            <div class="col-xs-12 col-sm-12">
                <p>
                    To reset your password, enter the email address you use to sign in to site. We will then send
                    you a new password.
                </p>
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1"> Email address </label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <button type="button" class="btn   btn-primary" onclick="SetLink()">
                        <i class="fa fa-unlock"> </i> Retrieve Password
                    </button>
                </form>
                <div class="clear clearfix">
                    <ul class="pager">
                        <li class="previous pull-right"><a href="@Url.Action("Login","Account")"> &larr; Back to Login </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/row end-->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5"></div>
</div>

@Html.Hidden("RedirectToHome", Url.Action("ForgotPassword", "Account"))
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.js"></script>
<script>
    function SetLink() {
        $.ajax({
            type: "post",
            url: "/Account/ForgotPassword",

            data: {
                EmailID: $('#exampleInputEmail1').val(),



            },
            datatype: "json",
            success: function (data) {

                $('.form-process').fadeOut();
                if (data != null) {

                    if (data == "Done") {
                        sweetAlert
                            ({
                                title: "Succeded!",
                                text: "Password link sent SUCCESSFULLY.Please check your email to reset your password.",
                                type: "success"
                            },
                            function () {
                                var url = $("#RedirectToHome").val();
                                location.href = url;
                            });

                    }
                    else if (data == "NotDone") {
                        {
                            sweetAlert
                                ({
                                    title: "Warning!",
                                    text: "Entered EmailId is incorrect.",
                                    type: "success"
                                },
                                function () {
                                    return false;
                                });

                        }
                    }

                }


            }
        });
    }

</script>



