
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner"><span> <i class="fa fa-unlock-alt"> </i> Reset your password? </span></h1>
        <div class="row userInfo">
            <div class="col-xs-12 col-sm-12">
                @*<p>
                        To reset your password, enter the email address you use to sign in to site. We will then send
                        you a new password.
                    </p>*@
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="@ViewBag.EmailId" style="display:none">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">New Password </label>
                        <input type="password" class="form-control" id="NewPass" placeholder="Enter New Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Confirm Password </label>
                        <input type="password" class="form-control" id="confirmpass" placeholder="Enter Confirm Password">
                    </div>
                    <button type="button" class="btn   btn-primary" onclick="SetPass()">
                        <i class="fa fa-unlock"> </i> Reset Password
                    </button>
                </form>
                <div class="clear clearfix">
                    <ul class="pager">
                        <li class="previous pull-right"><a href="@Url.Action("Login","Account")"> &larr; Back to Login </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/row end-->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5"></div>
</div>


@Html.Hidden("RedirectToHome", Url.Action("LogIn", "Account"))
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.js"></script>
<script>
    function SetPass() {
        $.ajax({
            type: "post",
            url: "/Account/ResetPassword",

            data: {
                EmailID: $('#exampleInputEmail1').val(),
                NewPassword: $('#NewPass').val(),
                ConfirmPass: $('#confirmpass').val(),



            },
            datatype: "json",
            success: function (data) {

                $('.form-process').fadeOut();
                if (data != null) {

                    if (data == "Done") {
                        sweetAlert
                            ({
                                title: "Succeded!",
                                text: "Password Changed SUCCESSFULLY.",
                                type: "success"
                            },
                            function () {
                                var url = $("#RedirectToHome").val();
                                location.href = url;
                            });

                    }
                    else if (data == "NotMatch") {
                        {
                            sweetAlert
                                ({
                                    title: "Warning!",
                                    text: "New password and Confirm password not matched.",
                                    type: "success"
                                },
                                function () {
                                    return false;
                                });

                        }

                    }
                    else if (data == "Wrong") {
                        sweetAlert
                            ({
                                title: "Warning!",
                                text: "Something went wrong.",
                                type: "success"
                            },
                            function () {
                                return false;
                            });
                    }
                    else {
                    }
                }


            }
        });
    }

</script>



